.zip filter=lfs diff=lfs merge=lfs -text
Dataset/pen[[:space:]]and[[:space:]]pencil[[:space:]][[:space:]]3k[[:space:]]image.zip filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
